.contact-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-title{
    text-align: center;
    padding-top: 15rem;
    width: 80%;
}

.contact-form{
    width: 85%;
}

.contact-form fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error-message p{
  color: red;
  font-size: 1.3rem; 
}

.contact-form input, textarea, select {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-family: var(--body-font);
}

.contact-title{
  text-transform: uppercase;
  font-size: 1.5rem !important;
}

.contact-submit{
  width: 10rem;
  background-color: var(--main-font-color-dark) !important;
  color: white !important;
  font-size: 1rem !important;
  padding: 1rem !important;
  cursor: pointer;
}

.contact-submit:hover{
  background-color: var(--secondary-font-color) !important;
}