.sign-up-success {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.success{
    width: 50%;
    text-align: center;
}

.success h1{
    font-size: 5rem;
    text-transform: uppercase;
}

.success h6{
    font-size: 3rem;
}