/* Header styles */
.header{
    width: 100%;
    padding: 0 1.3rem;
    position: absolute;
    transition: background-color 0.5s ease-in;
    background-color:#232323;
}

nav{
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1rem 0;
    color: rgb(241, 239, 239);
}
.menu-toggle{
    position:absolute;
    right: 0;
    z-index: 3000;
    cursor: pointer;
    font-size: 2.2rem;
}

.open {
    transform: translateX(0%);
}

.restaurant-name{
    font-weight: bolder;
    font-size: 1.7rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    border-bottom: 0.2rem solid rgb(240, 235, 235);
    cursor: pointer;
}

nav ul{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(0, 0, 0, 90%);
    padding: 4rem;
    transition: transform 0.2s ease-in-out;
    transform: translateX(-100%);
    z-index: 2500;
    list-style: none;
}
nav ul li{
    border-bottom: 1px solid rgb(151, 147, 147);
}
nav ul a{
    font-size: 2.2rem;
    color: rgb(241, 239, 239);
    font-family: var(--main-font);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transition: 0.3s ease-in-out;
}
nav ul a:hover{
    color: var(--secondary-font-color);
}