@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
}

html{
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}

img{
    width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

section{
    padding: 3.4rem 0;
}

.container{
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
    overflow: hidden;
}

.asterisk{
    font-size: 1rem;
    color: var(--secondary-font-color);
    margin: 0 1.6rem; 
    opacity:0;
    animation: spin 3s forwards; 
}


/* About section globals */
.mb-1{
    margin-bottom: 1rem;
}

.mb-2{
    margin-bottom: 2rem;
}

.mb-3{
    margin-bottom: 3rem;
}

.mb-4{
    margin-bottom: 4rem;
}

.mb-5{
    margin-bottom: 5rem;
}

.mb-8{
    margin-bottom: 8rem;
}

.p-1{
    padding: 1rem;
}

.p-2{
    padding: 1rem;
}
.global-header{
    width: 100%;
    text-align: center;
    margin: 2rem 0;
}

.global-large-title{
    font-family: var(--secondary-font);
    font-weight: lighter;
    color: var(--secondary-font-color);
    font-size: 10rem;
    line-height: 70%;
}

.global-middle-title{
    color: rgb(44, 43, 43);
    font-size: 2rem;
    text-transform: uppercase;
    line-height: .47;
}

.global-description{
    font-size: 1.5rem;
    padding: 0.2rem 0;
}

.global-header-btn{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--secondary-font-color);
    border-bottom: 0.2rem solid;
    transition: 0.3s ease-in-out;
}

.global-header-btn:hover{
    color: rgb(44, 43, 43);
}

/* Media query */
@media screen and (min-width: 900px){
    .menu-toggle{
        display: none;
    }

    nav{
        padding: 2.2rem 4rem;
        display: flex;
        justify-content: space-between;
    }

    nav ul{
        position:initial;
        transform: translateX(0);
        height: initial;
        width: initial;
        background-color: initial;
        flex-direction: row;
        padding: 0;
    }

    nav ul li{
        border-bottom: none;
        margin: 2rem;
    }

    nav ul a{
        font-size: 1.4rem;
        font-family: var(--body-font);
    }
    
    .about{
        padding: 7rem;
    }

    .container-about{
        display: flex;
        align-items: center;
    }

    .global-header{
        flex: 1;
        margin-right: 2rem;
        padding: 3rem 3rem;
    }

    .global-description{
        font-size: 1.8rem;
    }

    .global-header-btn{
        font-size: 1.8rem;
    }

    .section-img{
        flex: 1;
    }

    .panel{
        height: 50rem;
    }

    #menu .global-header{
        order: 1;
    }

    .menu-images{
        flex: 1;
        order: 0;
    }

    .location{
        height: 80vh;
        margin-bottom: 4rem;
    }

    .panel-item-header{
        font-size: 2rem;
    }

    .panel-item-list{
        font-size: 1.7rem;
    }

    .large-group{
        display: flex;
        height: 80vh;
    }

    .large-group-img{
        height: initial;
        flex: 1;
    }

    .learn-more{
        height: initial;
        flex: 1;
    }

    .learn-more-description{
        font-size: 2rem;
    }

    .footer-content{
        max-width: 77.5rem;
        margin: auto;
    }

    .footer-content-about{
        max-width: 51.3rem;
        margin: 0 auto 5.4rem;
    }

    .footer-content-divider{
        display:flex;
        justify-content: space-between;
    }

    .social-media,
    .newsletter-form{
        width: 100%;
        max-width: 27.3rem;
        margin: 0 1rem;
    }

    .global-middle-title{
        font-size: 2.5rem;
    }

    .social-icons .icon{
        font-size: 2.5rem;
    }

    .newsletter-btn{
        margin-left: 15rem;
    }
    
    .inquire{
        font-size: 1.2rem;
    }

    .copyright{
        font-size: 1.2rem;
    }
}

/* Animation */
@keyframes down{
    0%{
        opacity: 0;
    }

    100%{ 
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes spin{
    0%{
        transform: rotate(0);       
    }
    100%{
        opacity:1;
        transform: rotate(-360deg);
    }
}

@keyframes leftToRight{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 100%;
        transform: translateX(0);
    }
}

@keyframes reveal{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes shrink{
    from{
        width: 20rem;
    }
    to{
        width: initial;
    }
}

@keyframes bottomUp{
    from {
       opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes up{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity:0;
        transform: translateY(-1rem)
    }
}