.about-page-container{
    font-family: 'Open sans' ,serif;
}
.about-page-container .main-hero-container{
    background-image: url("/src/img/about-1.jpg") !important;
    margin-bottom: 3rem;
    transition: all .3s ease-in-out;
}

.about-page-container .main-hero-container .hero-title-container .hero-title{
    font-size: 3rem;
}

.about-page-container .about-us-story{
    text-align: center;
    margin: 0 auto;
    padding: 3rem 5rem;
}

.about-page-container .about-us-story .story-title{
    color: var(--secondary-font-color);   
    font-family: var(--secondary-font) !important;
    font-size: 7rem; 
    font-weight: lighter !important;
    line-height: 80%;
}

.about-page-container .about-us-story .small{
    font-size: 2.5rem;
    font-weight: lighter;
    color: black;
}

.about-page-container .about-us-story .asterisk{
    font-size: .9rem !important;
}

.about-page-container .about-us-story .story-paragraph{
    font-size: 1.4rem !important;
}

.about-page-container .updated-date{
    font-style: italic;
}

.about-page-container .picture-story-container{
    padding: 2rem 1.2rem;
}

.about-page-container .picture-story-container .picture-story{
    position: relative;
}

.about-page-container .picture-story img{
    vertical-align: bottom;
}

.about-page-container .picture-story .learn-more{
    padding: 0 3rem;
    transform: translateY(-10%) !important;
    height: inherit;
    text-align: center;
    display: flex;
    align-items: center;
}
.about-page-container .picture-story .learn-more .cheers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    height: 100%;
    padding: 6rem 3rem;
    background-color: #dad6d0;
}
.about-page-container .picture-story .learn-more h2{
    font-size: 2.3rem;
    color: rgb(17, 17, 17);  
    margin-bottom: 2rem;
}

.about-page-container .picture-story .learn-more p{
    font-size: 1.3rem;  
    margin-bottom: 3rem;
}

.about-page-container .picture-story .learn-more .inquire-btn{
    background-color: var(--main-font-color-dark) !important;
    color: white !important;
    font-size: 1rem !important;
    padding: 1rem !important;
    cursor: pointer;
}
.about-page-container .picture-story .learn-more .inquire-btn:hover{
    background-color: rgb(105, 105, 105) !important;
}
